<% content_for(:title) do %>
  ログイン | Goi Master
<% end %>

<div class="login">
    <div class="panel panel-default">
      <div class="panel-heading">ログイン</div>
      <div class="panel-body">
        <%= form_for(:session, url: login_path) do |f| %>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          
           <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <div class="text-left">
            <%= f.submit 'ログイン', class: 'btn btn-primary ' %>
          </div>
        <% end %>
      </div>
    </div>
</div>