<div class="row">
  <% flashcards.each do |flashcard| %>
    
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-5">
          <span class="text" data-lang="<%= deck.text1_language %>" data-text="<%= flashcard.text1 %>"><%= flashcard.text1 %></span>
          
        </td>
        <td class="col-xs-5" id="text2">
          <span class="text" data-lang="<%= deck.text2_language %>" data-text="<%= flashcard.text2 %>"><%= flashcard.text2 %></span>
          
        </td>
        <td class="col-xs-1">
          <%= render 'flashcards/bookmark_button', flashcard: flashcard %>
        </td>
      </tr>
    </table>
  <% end %>
</div>