<div class="row">
  <% flashcards.each do |flashcard| %>
    
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-4">
          <span class="text" data-lang="<%= deck.text1_language_for_uttr %>" data-text="<%= flashcard.text1 %>"><%= flashcard.text1 %></span>
          
        </td>
        <td class="col-xs-4" id="text2">
          <span class="text" data-lang="<%= deck.text2_language_for_uttr %>" data-text="<%= flashcard.text2 %>"><%= flashcard.text2 %></span>
          
        </td>
        <td class="col-xs-3">
          <% if current_user == deck.user %>
            <% if flashcard.image %>
              <%= image_tag(flashcard.image) %>
              <%= link_to '削除', delete_image_flashcard_path(flashcard), method: :delete, data: { confirm: '本当に削除しても良いですか？' }, class: 'btn btn-danger btn-xs' %>
            <% else %>
              <!--<img src="<%#= flashcard.photo %>" width= 150, height= 150>-->
              <%= link_to '画像を取得する', get_image_flashcard_path(flashcard), method: :post, class: 'btn btn-success' %>
            <% end %>
          <% else %>
            <%= flashcard.image %>
          <% end %>
        </td>
        <% if current_user == deck.user %>
        <td class="col-xs-1">
          <%= render 'flashcards/bookmark_button', flashcard: flashcard %>
        </td>
        <% end %>
      </tr>
    </table>
  <% end %>
</div>