<% content_for(:title) do %>
  ブックマーク | Goi Master
<% end %>

<div class="bookmark">
  <div class="col-xs-12 title">
    <h3 class="text-center">ブックマークリスト</h3>
  </div>
  
  <%# @flashcards.each do |flashcard| %>
  <% @decks.each do |deck| %>
    
    <table class="table table-bordered">
      <h3>Deck名: <%= link_to deck.name, deck %> <span class="language"> <br>( <%= deck.text1_language %> <span class="glyphicon glyphicon-arrow-right"></span> <%= deck.text2_language %> )</span></h3>
      
      <% deck.flashcards.each do |flashcard| %>
        <% if flashcard.bookmark == true %>
        <tr>
          <td class="col-xs-4 text1">
            <span class="text" data-lang="<%= deck.text1_language_for_uttr %>" data-text="<%= flashcard.text1 %>"><%= flashcard.text1 %></span>
          </td>
          <td class="col-xs-4 text2">
            <span class="text" data-lang="<%= deck.text2_language_for_uttr %>" data-text="<%= flashcard.text2 %>"><%= flashcard.text2 %></span>
          </td>
          <td class="col-xs-3 image">
            <!--<img src="<%#= flashcard.photo %>" width= 150, height= 150>-->
            <% if flashcard.image %>
              <%= image_tag(flashcard.image) %>
            <% end %>
          </td>
          <td class="col-xs-1 bookmark">
            <%= render 'flashcards/bookmark_button', flashcard: flashcard %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>