<%= form_for(@deck, url: path, method: method) do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="form-group">
    <%= f.label :name, 'Deck名', class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :text1_language, 'Text1言語', class: 'control-label' %>  
    <%= f.select :text1_language, @select_data %>
  </div>
  
  <div class="form-group">
    <%= f.label :text2_language, 'Text2言語', class: 'control-label' %>  
    <%= f.select :text2_language, @select_data %>
  </div>
  
  <b>Flash Card</b>
  <div class="text-right">
    <%= link_to_add_association '単語を追加', f, :flashcards, class: 'btn btn-default',
      data: { 
        association_insertion_node: '#flashcard-association-insertion-point',
        association_insertion_method: 'append' }
    %>
  </div>
    
  <table class="table table-list">
    <thead>
      <tr>
        <th>Text1</th>
        <th>Text2</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody id='flashcard-association-insertion-point'>
      <div class="form-group">
        <%= f.fields_for :flashcards do |flashcard| %>
          <%= render 'flashcard_fields', f: flashcard %>
        <% end %>
      </div>
    </tbody>
  </table>
  
  <%= f.submit '作成', class: 'btn btn-primary' %>
  
  <% if @deck.persisted? %>
    <%= link_to '戻る', deck_path(@deck), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to '戻る', root_path, class: 'btn btn-primary' %>
  <% end %>
  
<% end %>