<div class="row">
  <div class="col-xs-8">
    
    <%= form_for(@deck) do |f|  %>
    
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :title, 'Deck名' %>  
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :text1_language, 'Text1の言語' %>  
        <%= f.select :text1_language, [["日本語", "Japanese"], ["英語", "English"], ["フランス語", "French"], ["スペイン語", "Spanish"]] %>
      </div>
      
      <div class="form-group">
        <%= f.label :text2_language, 'Text2の言語' %>  
        <%= f.select :text2_language, [["日本語", "Japanese"], ["英語", "English"], ["フランス語", "French"], ["スペイン語", "Spanish"]] %>
      </div>
      
      <div>
        <%= f.submit '作成する', class: 'btn btn-primary' %>
      </div>
      
    <% end %>
  </div>
</div>