<% content_for(:title) do %>
  Deck | Goi Master
<% end %>

<div class="row">
  <div class="col-xs-12", style="padding-bottom: 50px;">
    <h3 class="text-center">Deck名: <%= @deck.name %></h3>
  </div>
  
  <%= render 'flashcards/flashcards', flashcards: @flashcards, deck: @deck %>
  
  <% if current_user == @deck.user %>
    <div class="text-center">
      <%= link_to 'Deckを編集する', edit_deck_path(@deck), class: 'btn btn-primary' %>
      <%= link_to '戻る', current_user, class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div class="text-center">
      <%= link_to 'このDeckをコピーする', copy_deck_path(@deck), method: :post, class: 'btn btn-success' %>
      <%= link_to '戻る', user_path(@deck.user), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>